$primary: #04395e;
$secondary: #70a288;
$grey: #9c9c9d;
$black: #000000;
$white: #ffffff;
$grey-blue: #909cc2;
$mint-green: #CFEBDF;
$orange: #f58a07;
$pink: #F8C0C8;

$colors-list: (
  "primary": $primary,
  "secondary": $secondary,
  "grey": $grey,
  "black": $black,
  "white": $white,
  "grey-blue": $grey-blue,
  "mint-green": $mint-green,
  "orange": $orange,
  "pink": $pink,
);
