@import "~/src/assets/styles/main.scss";

.textarea {
  min-height: 72px;
  max-height: 300px;
  padding: 5px 30px 5px 15px;
  border: 1px solid $grey;
  border-radius: 6px;
  caret-color: $secondary;
  @include mainText;
  &::placeholder{
    @include mainText;
    color: $grey;
  }
  &:visited,
  &:focus,
  &:hover {
    outline: none;
    border: 1.5px solid $secondary;
  }
}
