@import "~/src/assets/styles/main.scss";

.wrapper {
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  @include circleButton;
}

.cardList {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
