@import "~/src/assets/styles/main.scss";

.wrapper {
  position: relative;
  width: 400px;
  max-height: 200px;
}

.container {
  width: 400px;
  height: 200px;
  outline: none;
  border: 1px solid $primary;
}
