@import "~/src/assets/styles/main.scss";

.sidebar {
  width: 300px;
  height: 100vh;
  border-right: 1px solid $primary;
  padding: 25px 0;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
