@import "~/src/assets/styles/main.scss";

.container {
  position: fixed;
  overflow: auto;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  position: absolute;
  z-index: 2;
  width: 38.55vw;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06),
    0px 2px 8px rgba(0, 140, 255, 0.1);
}
