@import "~/src/assets/styles/main.scss";

.menu {
    position: absolute;
    left: -30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 5px;
}

.button {
    cursor: pointer;
    color: $grey;
    &_isActive {
        color: $primary
    }
}